.histogram-container {
  position: relative;
}

.histogram-description {
  visibility: hidden;
}
.histogram-title {
}
/** Hint */
.histogram-hint-rect {
  fill-opacity: 0.2;
  pointer-events: none;
}
.histogram-hint-text {
  text-anchor: middle;
  pointer-events: none;
}
/** SVG */
.histogram-svg:focus {
  background-color: #ededed;
  outline: 0;
}

/** AXIS */
.histogram-x-axis-label {
  text-anchor: end;
  font-size: 12px;
}
.histogram-axis .domain,
.histogram-axis .tick > line {
  stroke: none;
}
.histogram-axis.tick > text {
  fill: grey;
}
.histogram-axis:focus {
  outline: 0;
}
.histogram-axis:focus .domain,
.histogram-axis:focus .tick > line {
  stroke: black;
}
.histogram-axis:focus text {
  fill: black;
}
.histogram-axis:focus tick {
  fill: black;
}

/** DATA */
.histogram-data:focus {
  outline: 0;
}
.histogram-data:focus rect {
  fill: black;
}
rect.histogram-bar {
  fill: crimson;
}
rect.histogram-bar:focus {
  outline: none;
  fill: black;
}
rect.histogram-bar:hover {
  fill: black;
}

/** Tooltip */
.histogram-tooltip {
  overflow: visible;
  pointer-events: none;
  position: absolute;
  background: black;
  color: white;
  top: 0;
  left: 0;
  font-size: 1em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -4em;
}
.histogram-tooltip-item {
  margin: 0.5em;
}
