.histogram-container {
  position: relative;
}

/** SVG */
.histogram-svg:focus {
  background-color: #ededed;
  outline: 0;
}

/** AXIS */
.histogram-y-axis-label {
  text-anchor: end;
  dominant-baseline: text-after-edge;
  font-size: 12px;
}
.histogram-axis .domain,
.histogram-axis .tick > line {
  stroke: none;
}
.histogram-axis.tick > text {
  fill: grey;
}
.histogram-axis:focus {
  outline: 0;
}
.histogram-axis:focus .domain,
.histogram-axis:focus .tick > line {
  stroke: black;
}
.histogram-axis:focus text {
  fill: black;
}
.histogram-axis:focus tick {
  fill: black;
}

/** DATA */
.histogram-data:focus {
  outline: 0;
}
.histogram-data:focus rect {
  fill: black;
}
rect.histogram-bar {
  fill: crimson;
}
rect.histogram-bar:focus {
  outline: none;
  fill: black;
}

/** Tooltip */
.histogram-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.histogram-tooltip-item {
  transform: translateX(-50%);
  margin: 0.3em;
}
