path.stream {
  stroke: transparent;
}
path.stream:focus {
  fill: black;
  outline: none;
}
.streamgraph-legend-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.streamgraph-legend-square {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.streamgraph-legend-label {
  margin-right: 2em;
}
